<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"Http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.green.mapper.MemberMapper">
	<select id="getList" resultType="org.green.domain.MemberVO">
		select * from member order by mno desc
	</select>
	<insert id="insert">
		insert into member(mno, id, pass, name, phonenumber, address, email)
		values(mem_seq_num.nextval, #{id}, #{pass}, #{name}, #{phonenumber}, #{address}, #{email})
	</insert>
</mapper>