@charset "UTF-8";
a {text-decoration: none; color:black;}
li {list-style: none;}
img {vertical-align: middle;}
#wrap {
	width: 1600px;
	margin: 100px auto;
}
.inner {
	border-top: 1px solid #ccc;
	width: 100%;	
	margin: 50px auto;
	padding-top: 50px;
}
#button {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
#button button {
	margin: 10px 5px;
	padding: 5px 20px;
}
table {
	margin: 0 auto;
	max-width: 800px;
}
table td {
	padding: 10px;
}
#f1 {
	display: flex;
	justify-content: space-around;
	padding-top: 30px;
}
#f2 {
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #ccc;
	padding: 20px 0;
}
#topmenu {
	display: flex;
	justify-content: space-around;
}
#topmenu div {
	display: flex;
}
#topmenu div p {
	padding: 5px 10px;
}
.pagination li {
	margin-right: 10px;
}
.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}
.card-img-get {
	height: 600px;
}
.btnAlign {
	display: flex;
	justify-content: center
}
