<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.green.mapper.MemberMapper">
	<insert id="insert">
		insert into member (mno, mid, mpw, mname, mbirth, mphone, maddress, mlocation, memail)
		values(seq_mno.nextval, #{mId}, #{mPw}, #{mName}, #{mBirth}, #{mPhone}, #{mAddress}, #{mLocation}, #{mEmail})
	</insert>
</mapper>
